h1 {
  font: "Arial";
  color: green;
}

h2 {
  font: "Arial";
  color: blue;
}

h6 {
  font: "Arial";
  color: red;
}

p {
  font: "Arial";
  color: white;
}

img {
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

body {
  background: black;;
}
